@import 'nib'
@import 'helpers/*'

normalize-html5()

html,body
    background blue
    color white
    font-family helvetica, arial, 'sans-serif'
    font-size 16px

.site-wrap
    text-align center
    padding-top 120px

    h1
        font-size 3em
        text-transform uppercase

    #Counter
        background rgba(black, .2)
        display inline-block
        padding 15px
